name: CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Debug - List Files
      # This helps us see if requirements.txt is actually there!
      run: ls -R

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Install only what we need to verify the code
        pip install fastapi uvicorn joblib scikit-learn pandas

    - name: Create Dummy Model
      run: |
        mkdir -p models
        touch models/model.pkl

    - name: Build Docker image
      run: |
        docker build -t housing-price-api .