name: CI Pipeline

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "dvc[s3]"
          pip install -r requirements.txt

      - name: Pull Model from S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          # 1. Standard config
          dvc remote modify myremote --local access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          dvc remote modify myremote --local secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          dvc remote modify myremote region us-east-1
          
          # 2. THE MAGIC FIX: Disable "Virtual Hosting" and "Credential Path"
          # This forces a direct simple connection which usually fixes 403 Forbidden
          dvc remote modify myremote --local s3_addressing_style path
          dvc remote modify myremote --local credentialpath ""
          
          # 3. Pull with a 'force' to overwrite any local dummy files
          dvc pull -f -v

      - name: Verify Model File
        run: ls -lh models/

      - name: Build Docker image
        run: docker build -t housing-price-api .