name: CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Install basic requirements for the build to be recognized
        pip install fastapi uvicorn joblib scikit-learn pandas httpx pytest

    - name: Create Dummy Model
      # This creates a blank file so Docker doesn't crash when it looks for model.pkl
      run: |
        mkdir -p models
        touch models/model.pkl

    - name: Build Docker image
      run: |
        docker build -t housing-price-api .