name: CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # We install these to ensure the environment is ready
        pip install fastapi uvicorn joblib scikit-learn pandas httpx pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Build Docker image
      run: |
        # This is the best test! If the image builds, your project is healthy.
        docker build -t housing-price-api .