name: CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Create Dummy Model Folder
      # This fixes the "Missing File" error because DVC files aren't on GitHub
      run: |
        mkdir -p models
        touch models/model.pkl

    - name: Build Docker image
      run: |
        docker build -t housing-price-api .